<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yb.mapper.PatientInfoMapper">

    <select id="getPatientInfo" resultType="com.yb.entity.vo.PatientInfoVo">
        SELECT pi.* FROM patient_info pi
        <where>
            <if test="patientInfoQuery.patientName != null and patientInfoQuery.patientName != ''">
                 patient_name like concat('%',#{patientInfoQuery.patientName},'%')
            </if>

            <if test="patientInfoQuery.startTime != null and patientInfoQuery.startTime != ''">
                and date_format(surgical_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{patientInfoQuery.startTime},'%y%m%d')
            </if>

            <if test="patientInfoQuery.endTime != null and patientInfoQuery.endTime != ''">
                and date_format(surgical_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{patientInfoQuery.endTime},'%y%m%d')
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>
